*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa';
}

:root{
    --background-color:#3c3c3e;
    --color1: rgb(0, 255, 255);
    --color2: rgb(124, 255, 185);
    --color-lateral:rgb(128, 0, 128);
    --sombra1:#fec16c;
    --sombra2:#ffc87a;
    --box-color: #ffffff;
    --legenda:#e68b6c;
}

body{
    background-color:var(--background-color);
}

header{
    display: flex;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
 
.cor1{
    display:flex;
    background-color: var(--color1);
    width: 100%;
    padding-left: 10px;
    align-items: center;
    justify-content: space-between;
    font-size:40px;
    font-weight: 400;
}

.logo{
    display: flex;
    font-size: 30px;
    font-weight: 100px;
}

.logo h1{
    padding-top: 20px;
}

.cor2{
    display: flex;
    background-color:var(--color2);
    width: 65%;
    padding: 44px ;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 200;
    list-style: none;
    text-decoration: none;
}

.cor2 a{
    text-decoration: none;
}

.cor3{
    display: inline;
   align-items: center;
   font-size: 5px;
   font-weight: 100;
}

.cor3 i{
    font-size: 50px;
}

#grid-1{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
}

#tranparencia{
   opacity: 0.7;
}

.lateral{
    background-color:var(--color-lateral);
    margin-top: 110px;
    margin-bottom: 110px;
    width: 130px;
    height: 76%;
}

.lateral img{
    display: flex;
    width: 85px;
    margin: 100px 20%;
    opacity: 1;
}

.fotos{ 
    text-align: start;
    width: 160%;
}

.container {
    position: relative;
    width: 62%;
}
  
.image {
    opacity: 1;
    display: block;
    width: 90%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
  
.container:hover .image {
    opacity: 0.3;
}
  
.container:hover .middle {
    opacity: 1;
}
  
.text {
    background-color: var(--legenda);
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.secao1{
    display: block;
    text-align: center;
    font-size: 85px;
    font-weight: 700;
    width: 100%;
    padding: 20px;
    margin-top: 0;
} 

.conteiner-box{
    display: flex;
    padding: 10px;
    text-align: justify;
    justify-content: center;
    margin-bottom: 50px;
}

.box{
    background-color: var(--box-color);
    padding: 25px 40px;
    border-radius: 1rem;
    box-shadow: 10px 10px 30px var(--sombra1) ;
    transition: all ease .55s;
    width: 25%;
    margin-left: 50px;
}

.box img{
    width: 150px;
    margin: 0px 75px;
    text-align: center;
}

.box:hover{
    transform: translateY(-5px) scale(1.1);
}

.box1{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    padding: 25px 40px;
    width: 100%;
    margin-bottom: 5px;
}

.box1 img{
    width: 75%; 
}

#tamanho{
    padding: 10px;
    font-weight: 600;
    font-size: 40px; 
}

.mescla{
    grid-row: 1 / span 2;
}

.paragrafo{
    width: 100%;  
    text-align: justify; 
}  